.canvas {
  min-width: 1200px;
  height: 800px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
}

.card-content {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-family: 'Inter', cursive;
  font-weight: 700;
  font-size: 64px;
  margin: 0;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.card-description {
  font-size: 36px;
  max-width: 634px;
}
